# Copyright (c) 2022-2023 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# Licensed under the NVIDIA License [see LICENSE for details].

*

!fetch_cvpr2023_models.sh
!fetch_grasp_trigger_PRE_2.sh
